.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #ecbbd7;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 897px;
  top: 2950px;
  width: 397px;
  height: 177px;
}
.bmgt-4072 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 85px;
  width: 298px;
  height: 104px;
}
.frame-12 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 348px;
  position: absolute;
  left: 758px;
  top: 35px;
}
.frame-11 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.frame-10 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 217px;
  position: absolute;
  left: 1014px;
  top: 22px;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  position: relative;
}
.about-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.about-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 241px;
  position: absolute;
  left: 1163px;
  top: 32px;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  position: relative;
}
.contact-span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.contact-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.contact-us {
  color: #fff1f1;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 168px;
  top: 285px;
  width: 1181px;
  height: 168px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #fdf7f7;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 168px;
  top: 383px;
  width: 997px;
  height: 104px;
}
.paul-t-shapiro-pshapiro-umd-edu-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #fff9f9;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 168px;
  top: 476px;
  width: 1090px;
  height: 373px;
}
